.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right {
    flex: 1;
    position: relative;
    padding: 10px;
}

.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgb(67, 82, 63);
}

.a-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.a-award-img {
    width: 120px;
    height: 150px;
    border-radius: 20px;
    padding-left: 5px;
}

.a-title {
    font-weight: 400;
}

.a-sub {
    margin: 20px 0px;
}

.a-desc {
    font-weight: 300;
}

.a-award {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-award-texts {
    width: 70%;
}

.a-award-title {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    font: optional;
    font-size: larger;
    font-style: italic;
}

@media screen and (max-width:480px) {
    .a {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    .a-left {
        width: 100%;
    }
    .a-card {
        height: 30vh;
    }
    .a-card.bg,
    .a-award {
        display: none;
    }
    .a-right {
        padding: 20px;
    }
}