.header {
    display: flex;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    align-items: center;
    max-width: 100%;
    height: 9rem;
    padding-top: 3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.MyLogo img {
    width: 250px;
}

.itemMenu {
    font-size: larger;
}

img {
    width: 300px;
    vertical-align: middle;
}

.logos {
    width: 250px;
}