.c {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to top, #c1dfc4 0%, #d4f1d2 100%);
}

.c-wrapper {
    padding: 50px;
    display: flex;
}

.c-left {
    flex: 1;
}

.c-map {
    border: solid rgb(64, 230, 216);
    border-radius: 10px;
    height: 400;
    width: 300;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-title {
    font-size: 40px;
    width: 80%;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
}

.c-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.c-desc {
    font-weight: 200;
}

form {
    margin-top: 20px;
    background-color: d4f1d2;
}

input {
    width: 100%;
    height: 50px;
    border: solid rgb(64, 230, 216);
    border-radius: 10px;
    margin: 10px 0px;
    display: block;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    border-radius: 10px;
    width: 150%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border: solid rgb(64, 230, 216);
}

button {
    border: none;
    padding: 15px;
    background-color: #59b256;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;
    }
    .c-title {
        font-size: 30px;
    }
    .c-info-item {
        margin: 20px 0px;
        width: 100%;
    }
    .c-desc {
        display: none;
    }
    form {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    input {
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }
    button {
        margin-top: 10px;
    }
}

.body {
    background-color: aquamarine;
}