.box {
    border: 1px solid #000;
    border-radius: 15px;
    margin: 1rem 0;
    padding-bottom: .5rem;
}

.title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    background-color: aquamarine;
}

.inverse {
    transform: scale(1, -1);
}