.i {
    display: flex;
    height: 100vh;
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right {
    flex: 1;
    position: relative;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 300;
}

.i-name {
    font-size: 50px;
}

.i-title {
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 150%;
    animation: move 15s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(-100px);
    }
    75% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(-200px);
    }
}

.i-title-item {
    height: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

.i-title-wrapper:active {
    height: 300px;
}

.i-img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    align-items: center;
    position: relative;
    margin: 40%;
    padding: 0;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.i-bg {
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.i-desc {
    font-size: 20px;
    text-decoration: none;
    color: rgb(1, 1, 114);
    max-width: 300px;
    line-height: 2em;
}

@media screen and (max-width: 480px) {
    .i {
        flex-direction: column;
    }
    .i-left-wrapper {
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
}