.ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 1rem;
}

.li {
    display: inline-block;
    position: relative;
    font-size: larger;
}

button:hover {
    color: rgb(179, 255, 0);
}

a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

.li:hover {
    font-size: x-large;
}

a:hover {
    font-size: x-large;
    color: rgb(0, 0, 0);
}