.stagiaireImg {
    margin: 10px;
    border: solid 2px;
    border-radius: 5px;
    transition: transform 0.5s ease;
    cursor: zoom-in;
    align-items: center;
    justify-content: center;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.stagiaireImg img {
    width: 100%;
    justify-content: center;
}

.stagiaire {
    display: inline-block;
    align-items: center;
    justify-content: center;
}


/*zoumer immage par hover
*/

.stagiaireImg:hover {
    -webkit-transform: scale(2);
    transform: scale(2);
    cursor: zoom-out;
}


/*pour zoumer l'immage par click
*/

.stagiaireImg:active {
    -webkit-transform: scale(2);
    transform: scale(3);
    cursor: zoom-out;
}

.titreProjet {
    margin: 10px;
    border: solid 2px;
    border-radius: 10px;
    width: 100px;
}

.projetS {
    padding: 2rem;
    display: flex;
}

.projetS p {
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
}

.proj {
    justify-content: center;
    width: auto;
    padding: 20px;
}